// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
	background-image: url(/assets/background.jpg); 
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0px;
}

.right-col {
	position: fixed;
	width: 30%;
	height: 100%;
	background-color: #147ea8;
	right: 0px;
	display: table;
	opacity: 0.6;
}

.helper-right {
	position: fixed;
	width: 30%;
	height: 100%;
	right: 0px;
	display: table;
	.form {
		top: 325px;
		padding:5px;
	}
}

.btn-primary {
	background-color: #000;
}
