/* imports */
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
// Used to style debugger
@mixin box_sizing {
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

/* Header styling */
.logo {
	width: 5em;
	height: 5em;
	padding: 15px;
	margin-left: 25px;
}

.navbar {
	background-color: #fcf6e5;
	background-image: url(/assets/header.jpg)
}
.navbar-inverse {
	border-color: transparent;
}

/* Body styling */


/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}